# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venvs/
.venv/
env/

# Hugging Face / model cache
hf_cache/
.cache/
*.bin
*.safetensors
*.pt
*.pth

# Outputs
outputs/
results/
logs/

# Secrets
.env
